.filters__item-wrapper {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    .form-check-label {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        position: relative;
        color: #5b4670;
        margin-left: 15px;
        user-select: none;
        @media (max-width: 1799px) {
            font-size: 16px;
            line-height: 20px;
        }
    }
    .form-check {
        margin-right: 0;
        padding-left: 0;
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
        .form-check-input {
            margin-left: 0;
            margin-top: 0;
            &:focus {
                box-shadow: none;
            }
        }
        .form-check-input[type="checkbox"] {
            width: 24px;
            height: 24px;
            border: 2px solid #e3e0e7;
        }
        .form-check-input[type="radio"] {
            width: 24px;
            height: 24px;
            border: 2px solid #d3d0d9;
        }
        .form-check-input[type="radio"]:checked {
            border-color: #5772f7;
            background-color: #5772f7;
            // background-image: url("../../../assets/images/radiobg.svg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 14px;
        }
        .form-check-input[type="checkbox"]:checked {
            background: #5772f7;
            border-color: transparent;
            &+.form-check-label {
                &:before {
                    content: "";
                    position: absolute;
                    display: inline-block;
                    transform: rotate(45deg);
                    height: 16px;
                    width: 8px;
                    right: calc(100% + 23px);
                    margin-left: 60%;
                    border-bottom: 2px solid #fff;
                    border-right: 2px solid #fff;
                    margin-top: 2px;
                }
            }
        }
    }
}