.btn {
    padding: 0 25px 0 25px;
    border-radius: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 22px;
    line-height: 1;
    transition: 0.2s;
    text-transform: uppercase;
    font-family: "Baloo" !important;
    span {
        font-family: "Baloo" !important;
    }
    &_primary,
    &_undefined {
        // background: linear-gradient(90deg, #f47456 0%, #5772f7 100%);
        background: #5772f7;
        color: #fff;
        &:hover {
            color: #fff !important;
        }
        &.btn_outline {
            box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
        }
        &:hover {
            background: #5772f7 !important;
            opacity: 0.9 !important;
        }
        &:focus,
        &:active {
            background: #5772f7 !important;
            opacity: 0.9 !important;
            color: #fff !important;
            box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5) !important;
            border: 1px solid transparent !important;
        }
    }
    &_white {
        background: #ffffff;
        border-radius: 50px;
        border: none;
        color: #5772f7;
        border: 3px solid #5772f7;
        span {
            // background: -webkit-linear-gradient(90deg, #5772f7 0, #f47456 100%);
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
        }
        &.btn_outline {
            box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.4);
        }
        &:hover {
            background: #5772f7;
            color: #fff;
            border-color: #fff;
        }
    }
    &:hover {
        filter: brightness(90%);
    }
}