.profile__content {
    display: grid;
    grid-template-columns: 320px minmax(min-content, 350px);
    align-items: flex-start;
    column-gap: 70px;
    @media (max-width: 991px) {
        grid-template-columns: 190px minmax(min-content, 350px);
    }
    @media (max-width:767px) {
        grid-template-columns: 1fr;
    }
    .form-label {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        /* identical to box height, or 133% */
        /* черный */
        color: #5b4670;
        margin-bottom: 10px;
    }
    .profile__image {
        background: #fff;
        border-radius: 16px;
        img {
            width: 100%;
            border-radius: 16px;
            box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
        }
        position: relative;
        input[type="file"] {
            display: none;
        }
        label {
            cursor: pointer;
            position: absolute;
            right: 6px;
            bottom: 6px;
            // transform: translateY(-50%);
            // width: 24px;
            padding: 10px;
            border-radius: 16px;
            border: 2px solid #5772f7;
            background: #5772f7;
            img {
                border-radius: 0;
                box-shadow: none;
            }
            @media (max-width: 991px) {
                right: 3px;
                /* top: 50%; */
                /* margin-top: -3px; */
                border-radius: 16px;
                width: 40px;
                padding: 0;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 15px;
                }
            }
        }
        @media (max-width:767px) {
            max-width: 50%;
            margin-bottom: 20px;
        }
    }
    .form-control {
        padding: 21px 100px 21px 23px;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        /* identical to box height, or 133% */
        /* черный */
        color: #5b4670;
        background: #ffffff;
        /* серый */
        border: 1px solid #a397b5;
        border-radius: 16px;
        &:focus {
            border-color: rgba(165, 221, 244, 1);
            box-shadow: none;
        }
        @media (max-width: 991px) {
            padding: 10px 60px 10px 10px;
            font-size: 15px;
        }
    }
    .form-label {
        @media (max-width: 991px) {
            font-size: 15px;
        }
    }
    .profile__info-items {
        margin-bottom: 20px;
    }
    .profile__info-item {
        position: relative;
        .form-control__icon {
            cursor: pointer;
            position: absolute;
            right: 6px;
            top: 50%;
            // transform: translateY(-50%);
            margin-top: -11px;
            // width: 24px;
            padding: 10px;
            border-radius: 16px;
            border: 2px solid #5772f7;
            background: #5772f7;
            @media (max-width: 991px) {
                right: 3px;
                top: 50%;
                margin-top: -3px;
                border-radius: 16px;
                width: 40px;
            }
            @media (max-width:767px) {
                margin-top: -2px;
            }
        }
    }
    .profile__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        .btn {
            height: 70px;
            @media (max-width: 991px) {
                height: 46px;
                font-size: 16px;
            }
        }
    }
}