.banners {
    .slick-slide {
        padding: 0 15px;
        // margin: 0 15px;
        .banners__item {
            padding: 6px;
            background: #f2f2f2;
            border-radius: 40px;
            overflow: hidden;
            width: 100%;
            position: relative;
        }
        .banners__item-image {
            border-radius: 40px;
            width: 100%;
            height: 700px;
            object-fit: cover;
        }
        .banners__item-info {
            background: linear-gradient(90deg, #733fff 0%, #f67780 100%);
            border-radius: 75px 0px;
            position: absolute;
            top: 100px;
            left: 80px;
            padding: 40px;
            .banners__item-title {
                font-weight: 800;
                color: #fff;
                font-size: 52px;
                line-height: 60px;
                margin-bottom: 0;
                font-family: Baloo;
            }
            .banners__item-text {
                font-weight: 400;
                font-size: 18px;
                text-transform: uppercase;
                line-height: 26px;
                color: #fff;
                margin-top: 5px;
                margin-bottom: 0;
            }
        }
        .btn {
            position: absolute;
            left: 80px;
            bottom: 85px;
            height: 70px;
        }
    }
    .banners__item-arrows {
        position: absolute;
        right: 70px;
        bottom: 85px;
        display: grid;
        grid-template-columns: 70px 70px;
        column-gap: 10px;
    }
    .slick-arrow {
        display: none;
    }
    .banners__arrow {
        width: 70px;
        height: 70px;
        // background-color: linear-gradient(90deg, #fc5565 0%, #f6771e 100%);
        background: linear-gradient(90deg, #fc5565 0%, #f6771e 100%);
        border: 4px solid rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(40px);
        border-radius: 50px;
        overflow: hidden;
        // transform: rotate(-180deg);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &_prev {
            transform: rotate(-180deg);
        }
        img {
            transition: 0.2s;
        }
        &:hover {
            img {
                transform: scale(1.3);
            }
        }
        &:before,
        &:after {
            display: none;
        }
    }
}