.programms {
    h3 {
        font-family: "Baloo" !important;
        font-style: normal;
        margin-bottom: 30px;
        font-weight: 400;
        font-size: 56px;
        line-height: 56px;
        text-transform: uppercase;
        color: #5b4670;
        @media (max-width: 767px) {
            // text-align: left !important;
        }
    }
    .slick-slide {
        padding: 0 20px;
        @media (max-width: 1799px) {
            padding: 0px 10px;
        }
    }
    .slick-list {
        width: calc(100% - 240px);
        margin: 0 auto;
        @media (max-width: 1799px) {
            width: calc(100% - 220px);
        }
        @media (max-width: 767px) {
            width: 100%;
        }
    }
    .programms__dates {
        .slick-slide {
            input {
                display: none;
                &:checked {
                    // background: red;
                    &+.programms__dates-item {
                        background: #5772f7;
                        .programms__date-heading {
                            color: #fff;
                            transition: 0;
                            @media (max-width: 767px) {
                                color: #5b4670;
                                // background: #5b4670 !important;
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: unset !important;
                                background-clip: text;
                                text-fill-color: unset !important;
                            }
                        }
                        .programms__date-subheading {
                            // background: #fff;
                            color: #fff;
                            transition: 0;
                            @media (max-width: 767px) {
                                color: #a397b5;
                                // background: #a397b5 !important;
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: unset !important;
                                background-clip: text;
                                text-fill-color: unset !important;
                            }
                        }
                        &:hover {
                            .programms__date-heading,
                            .programms__date-subheading {
                                transition: 0;
                                background: #fff;
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                background-clip: text;
                                text-fill-color: transparent;
                            }
                        }
                        @media (max-width: 767px) {
                            background: #fff;
                            .programms__item-info {
                                .programms__item-name {
                                    color: #5b4670;
                                    background: #5b4670;
                                }
                                .programms__item-tags span {
                                    color: #a397b5;
                                    background: #a397b5;
                                }
                            }
                        }
                    }
                }
            }
            div {
                // width: 250px;
            }
        }
    }
    .programms__dates-item {
        padding: 21px 0px;
        cursor: pointer;
        // width: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* градиент 2 */
        border-radius: 20px;
        background: #fff;
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
        &:not(.active):hover {
            .programms__date-heading {
                background: #5772f7;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                transition: 0.3s;
            }
            .programms__date-subheading {
                background: #5772f7;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                transition: 0.3s;
            }
        }
        &.active {
            background: #5772f7;
            .programms__date-heading {
                color: #fff;
            }
            .programms__date-subheading {
                color: #fff;
            }
            @media (max-width: 767px) {
                background: #fff !important;
                .programms__date-heading {
                    color: #5b4670;
                }
                .programms__date-subheading {
                    color: #a397b5;
                }
            }
        }
        .programms__date-heading {
            text-align: center;
            font-weight: 500;
            font-size: 22px;
            line-height: 32px;
            text-transform: uppercase;
            color: #5b4670;
            @media (max-width: 1799px) {
                font-size: 18px;
            }
        }
        .programms__date-subheading {
            text-align: center;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            text-transform: uppercase;
            color: #a397b5;
        }
    }
    .slick-arrow {
        width: 100px;
        height: 100px;
        background-color: #fff;
        border-radius: 20px;
        background-image: url("../../../assets/images/arrowPrimary.svg");
        background-size: 23px 20px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
        &.slick-prev {
            transform: scaleX(-1) translateY(-50%);
        }
        z-index: 4;
        &.slick-prev:hover,
        &.slick-prev:focus,
        &.slick-next:hover,
        &.slick-next:focus {
            background-color: #fff;
            background-image: url("../../../assets/images/arrowPrimary.svg");
            background-size: 23px 20px;
            background-position: 50% 50%;
            background-repeat: no-repeat;
        }
        &:before,
        &:after {
            display: none;
        }
        &.slick-next {
            right: 0;
        }
        &.slick-prev {
            left: 0;
        }
        @media (max-width: 767px) {
            width: 20px;
            height: 20px;
            position: absolute;
            background-color: transparent;
            top: 50%;
            box-shadow: none;
            transform: translateY(-50%);
            &.slick-next {
                right: 30px;
            }
            &.slick-prev {
                left: 30px;
            }
        }
    }
    .programms__list {
        margin-top: 30px;
        .accordion-item {
            margin-bottom: 30px;
            background: rgba(255, 255, 255, 0.5);
            border-radius: 20px;
            border: none;
            box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
            .accordion-button {
                padding: 25px 40px;
                border-radius: 20px;
                border: none;
                background: none;
                &:not(.collapsed),
                &:focus {
                    background: transparent;
                    box-shadow: none;
                }
                &:after {
                    display: none;
                }
                &:not(.collapsed) {
                    .programms__accordion-header {
                        .programms__accordion-toggler {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
            .programms__accordion-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                .programms__accordion-toggler {
                    transition: 0.2s;
                }
                div {
                    display: flex;
                    align-items: center;
                }
                img {
                    width: 47px;
                    margin-right: 15px;
                }
                span {
                    font-family: "Baloo" !important;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 24px;
                    text-transform: uppercase;
                    color: #5b4670;
                    @media (max-width: 767px) {
                        font-size: 20px;
                        line-height: 18px;
                    }
                }
            }
        }
    }
    .programms__item {
        display: grid;
        grid-template-areas: "item-time item-image item-info";
        grid-template-columns: 100px 170px 1fr;
        column-gap: 35px;
        background: #fff;
        margin-bottom: 20px;
        padding: 15px 30px 15px 52px;
        border-radius: 20px;
        box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
        @media (max-width: 1799px) {
            grid-template-columns: 65px 100px 1fr;
        }
        @media (max-width: 767px) {
            // grid-template-columns: 55px 100px 1fr;
            column-gap: 10px;
            grid-template-areas: "item-image item-time" "item-image item-info" "tags tags";
            grid-template-columns: 60px 1fr;
            padding: 15px;
            .programms__item-tags.hidden_md {
                grid-area: tags;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;
                margin-top: 10px;
                span {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 24px;
                    color: #5b4670;
                    position: relative;
                    // margin-bottom: 20px;
                    @media (max-width: 1799px) {
                        font-size: 16px;
                        line-height: 20px;
                    }
                    @media (max-width: 767px) {
                        font-size: 12px;
                        line-height: 18px;
                    }
                    &:after {
                        content: "|";
                        position: relative;
                        margin: 0 5px;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 24px;
                        color: #5b4670;
                        @media (max-width: 767px) {
                            font-size: 12px;
                            line-height: 18px;
                        }
                    }
                    &:last-child::after {
                        display: none;
                    }
                }
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
        .programms__item-time {
            grid-area: item-time;
            font-family: "Baloo" !important;
            font-weight: 400;
            font-size: 36px;
            line-height: 30px;
            text-transform: uppercase;
            color: #5b4670;
            align-self: center;
            @media (max-width: 1799px) {
                font-size: 28px;
                line-height: 28px;
            }
            @media (max-width: 767px) {
                font-size: 13px;
                line-height: 13px;
            }
        }
        .programms__item-image {
            border-radius: 10px;
            width: 170px;
            grid-area: item-image;
            align-self: center;
            @media (max-width: 1799px) {
                width: 100px;
            }
            @media (max-width: 767px) {
                width: 60px;
                height: 60px;
                object-fit: cover;
            }
        }
        .programms__item-info {
            grid-area: item-info;
            display: flex;
            flex-direction: column;
            padding: 10px 0px;
            @media (max-width: 767px) {
                padding: 0;
            }
            .programms__item-name {
                font-weight: 700;
                font-size: 36px;
                line-height: 32px;
                /* identical to box height, or 89% */
                text-transform: uppercase;
                color: #5b4670;
                margin-bottom: 10px;
                @media (max-width: 1799px) {
                    font-size: 27px;
                    line-height: 30px;
                }
                @media (max-width: 767px) {
                    font-size: 16px;
                    line-height: 18px;
                    margin-bottom: 0;
                }
            }
            .programms__item-tags {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;
                span {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 24px;
                    color: #5b4670;
                    position: relative;
                    // margin-bottom: 20px;
                    @media (max-width: 1799px) {
                        font-size: 16px;
                        line-height: 20px;
                    }
                    @media (max-width: 767px) {
                        font-size: 13px;
                        line-height: 18px;
                        display: none;
                    }
                    &:after {
                        content: "|";
                        position: relative;
                        margin: 0 5px;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 24px;
                        color: #5b4670;
                    }
                    &:last-child::after {
                        display: none;
                    }
                }
            }
        }
        &.active {
            background: #5772f7;
            .programms__item-time {
                color: #fff;
            }
            .programms__item-info {
                .programms__item-name,
                .programms__item-tags span {
                    color: #fff;
                    &:after {
                        color: #fff;
                    }
                }
            }
        }
    }
}

.programms {
    .no-content {
        margin-top: 30px;
    }
}