.sort-block__items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 40px;
    .sort-block__item {
        padding: 20px 36px;
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        text-transform: uppercase;
        color: #5b4670;
        background: #fff;
        box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        transition: 0.3s;
        cursor: pointer;
        margin-right: 40px;
        @media (max-width: 1799px) {
            margin-right: 20px;
            padding: 20px;
        }
        @media (max-width: 1200px) {
            padding: 20px 10px;
        }
        @media (max-width: 991px) {
            padding: 15px;
            white-space: nowrap;
        }
        @media (max-width: 767px) {
            padding: 15px;
            font-size: 14px;
            line-height: 20px;
        }
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            color: #f47456;
        }
        &.active {
            background: linear-gradient(90deg, #f47456 0%, #5772f7 100%);
            color: #fff;
            &:hover {
                color: #fff;
            }
        }
    }
}

.sort-block__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 991px) {
        overflow-x: auto;
        margin: 0 -20px;
        padding: 5px 0px;
        padding-left: 20px;
    }
    @media (max-width: 767px) {
        flex-direction: row-reverse;
    }
}

.sort-block__search {
    background: #ffffff;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    margin-bottom: 40px;
    position: relative;
    margin-left: 20px;
    .sort-block__search-icon {
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        @media (max-width: 991px) {
            position: static;
            transform: none;
        }
    }
    transition: .2s;
    .form-control {
        padding: 20px 30px;
        border-radius: 20px;
        border: none;
        font-weight: 500;
        width: 500px;
        font-size: 18px;
        line-height: 26px;
        text-transform: uppercase;
        color: #5b4670;
        transition: .2s;
        @media (max-width: 1799px) {
            font-size: 16px;
            line-height: 23px;
            width: 300px;
        }
        &:focus {
            box-shadow: none;
        }
        @media (max-width: 991px) {
            padding: 0;
            width: 0;
        }
    }
    @media (max-width: 991px) {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 50px;
        height: 50px;
        margin-right: 20px;
    }
    @media (max-width: 767px) {
        margin-left: 0;
        margin-right: 20px;
    }
    &.active {
        transition: .2s;
        min-width: 300px;
        justify-content: space-between;
        @media (max-width: 991px) {
            .form-control {
                padding: 10px 15px;
                width: 230px;
            }
            .sort-block__search-icon {
                margin-right: 10px;
            }
        }
    }
}