.video-page {
    margin-bottom: 50px;
    h3 {
        font-family: "Baloo" !important;
        font-weight: 400;
        font-size: 72px;
        line-height: 70px;
        color: #5b4670;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    img,
    iframe {
        height: 100%;
        width: 100%;
        border-radius: 16px;
        box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.4);
    }
    img {
        // margin-right: 40px;
    }
    iframe {
        min-height: 600px;
        @media (max-width: 767px) {
            min-height: 400px;
        }
    }
    .video-page__content {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 40px;
    }
}